<h2><%=title%></h2>
<ul class="list-group" id="<%= id %>">
    <% for (var i = 0; i < 3;  i++ ) { %>
        <% if( i < terms[0].length ) { %>
        <li class="list-group-item d-flex justify-content-between align-items-center py-2 my-1 shadow-sm">
            <%= terms[0][i] %> 
            </button><button class="btn btn-sm btn-add"  type="button" id="button-addon2" ><a href="/addDomain/<%=terms[0][i] %> ">Agregar al carrito</a></button>
        </li>
        <% } %>
    <% } %>
        <div id="loadMoreContent<%= id %>"></div>
  </ul>
  <% if( terms[1].length > 0) { %>
    <div class="d-flex justify-content-center" style="color: var( --secondary-accent-color)"><b>Dominios ocupados: </b>
        <span>&nbsp <%= terms[1] %></span>
    </div>
  <% } %>  
  <% if( terms[0].length > 3) { %>
    <div class="d-flex justify-content-center my-2"><button class="btn btn-link btn-sm active" type="button" id="button-loadmore<%= id %>" onClick="loadMore('<%= id %>', '<%= idLetra %>', '<%= terms %>')">Cargar más ...</button></div>
  <% } %>  
<script>
    function loadMore(id, idLetra, terms) {
        const button = document.getElementById("button-loadmore"+id)
        if (button.classList.contains('active')) {
            more = terms.split(',')
            for (var i = 3; i < more.length - 1;  i++ ) {
                document.getElementById("loadMoreContent"+id).innerHTML += `<li class="list-group-item d-flex justify-content-between align-items-center py-2 my-1 shadow-sm">` + more[i] + `<button class="btn btn-sm btn-add"  type="button" id="button-addon2">Agregar al carrito</button> </li>`
            }
            button.innerHTML = 'Mostrar menos'
            button.classList.replace('active', 'inactive')
        } else{
            document.getElementById("loadMoreContent"+id).innerHTML = ""
            button.innerHTML = 'Mostrar más'
            button.classList.replace('inactive', 'active')
        }
        
    }
</script>